@model PaginatedList<TradeHubApp.Models.Advertisement>
@{
    ViewData["Title"] = "Мои объявления";
}

<h2>@ViewData["Title"]</h2>
<table class="table">
    <thead>
        <tr>
            <th>Название</th>
            <!-- Добавьте дополнительные поля по необходимости -->
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                <td>
                    <a asp-all-route-data='new Dictionary<string,string> { { "id", item.Id.ToString() }}' asp-action="Edit" asp-controller="Advertisements">Редактировать</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="pagination">
    <a asp-action="MyAdvertisements" asp-route-pageNumber="@(Model.PageIndex - 1)" class="@(Model.HasPreviousPage ? "enabled" : "disabled")">Назад</a>
    <a asp-action="MyAdvertisements" asp-route-pageNumber="@(Model.PageIndex + 1)" class="@(Model.HasNextPage ? "enabled" : "disabled")">Следующая</a>
</div>
